#divSearch{    
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(188, 240, 247);
}
  #conteiner{
    position:absolute;
    top:10%;
    margin-top:-10px;
  }
  #txtSearch{
    border:solid 1px;
    border-radius:5px;  
    border-color: black;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    height:29px;
    width:260px;
  }
  #btnSearch{
    width: 25px;
    height: 24px;
    position: relative;
    top:5px;
    left: 10px;
  }

  #btn{
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: top;
    background-color: transparent;
    border: transparent;
  }
  #results{
    max-height: 340px;
    height: auto;
    width: auto;
    border-radius:5px;  
    border: solid 0,9px;
    position: absolute;
    font-size:12px;
    top: 50%;
    margin-top:-50px;
    min-height: 100px;
    overflow-y: scroll;
    
  }
  #articleItens{
    background-color:rgb(84, 149, 235);
    border-radius:5px;  
    border: solid 0,5px;
    min-height: 120px;
    height: auto;
    width: auto;
  }
  #iconPerson{
    width: 25px;
    height: 24px;
    position: relative;
    top:7px;
    left: 2px;
  }
  #iconBook{
    width: 25px;
    height: 24px;
    position: relative;
    top:6px;
    left: 2px;
  }
  #iconLink{
    width: 20px;
    height: 15px;
    position: relative;
    top:4px;
    left: 1px;
  }
  #author{
    position: relative;
    top:3px;
    left: 2px;
  }
  #title{
    position: relative;
    top:1px;
    left: 2px;
  }
  #url{
    position: relative;
    top:3px;
    left: 6px;
  }
  h1{
    position: relative;
    color: rgb(0, 0, 0);
}
  ::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}